.store-btn-banner {
  .card-body {
    padding: 0;
    height: auto;
    border-radius: 20px;
  }

  .card-body-text {
    padding: 40px 20px 20px 20px;
    background: #f7f7f7;
  }

  .product-banner {
    background-color: #fff;
    padding: 30px 10px 10px;
    margin: auto;
    position: relative;
    min-height: 50px;
  }

  .banner-img {
    box-shadow: 0 0 9px 3px #cfcfcf;
    border-radius: 50%;
    overflow: hidden;
    height: 70px;
    width: 70px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }

  .banner-img-obj {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}




