.product-card {
  position: relative;
  //padding-bottom: 2.5em;
  border-radius: map-get($border-radius, product-card);

  .card-body {
    height: 100%;
  }

  .product-card-description {
    height: 100%;
    max-height: 120px;
    overflow: hidden;
  }

  .go-to-product-btn {
    margin: auto;
    display: block;
  }

  .product-new-label {
    height: 80px;
    width: 80px;
    padding: 1.8em 0;
    background-color: $green;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: map-get($border-radius, 50p);
    text-align: center;
    color: white;
    z-index: 1;
  }

  .product-best-price-label {
    @extend .product-new-label;
    width: 100px;
    height: 40px;
    right: 0;
    margin: auto;
    left: 0;
    padding: 0.5em;
    border-radius: map-get($border-radius, 6px);
    background-color: $best-price-label-orange;
  }

  .card-footer {
    border-bottom-left-radius: map-get($border-radius, product-card);
    border-bottom-right-radius: map-get($border-radius, product-card);
  }
}