.product-card {
  position: relative;
  //padding-bottom: 2.5em;
  border-radius: map-get($border-radius, product-card);

  .card-body {
    height: 100%;
  }

  .card-img-top {
      height: 250px;
      border-radius: 20px;
    }

    .product-card-description {
      height: 100%;
      //TODO: split text, then remove max-height
      max-height: 20px;
      overflow: hidden;
    }

    .go-to-product-btn {
      margin: auto;
      display: block;
    }

    .product-new-label {
      height: 80px;
      width: 80px;
      padding: 1.8em 0;
      background-color: $green;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: map-get($border-radius, '50p');
      text-align: center;
      color: white;
      z-index: 1;
    }

    .product-best-price-label {
      @extend .product-new-label;
      width: 100px;
      height: 40px;
      right: 0;
      margin: auto;
      left: 0;
      padding: 0.5em;
      border-radius: map-get($border-radius, '20px');
      background-color: $best-price-label-orange;
    }

    .card-footer {
      background: none;
      border-bottom-left-radius: map-get($border-radius, product-card);
      border-bottom-right-radius: map-get($border-radius, product-card);
    }
  }

  //go to store banner
  .go-to-store-banner {
    .card-body {
      padding: 0;
      height: auto;
      border-radius: 20px;
    }

    .card-body p {
      padding: 40px 20px 20px 20px;
      background: #f7f7f7;
    }

    .product-banner {
      background-color: #fff;
      padding: 30px 10px 10px;
      margin: auto;
      position: relative;
      min-height: 50px;

      .banner-img {
        box-shadow: 0 0 9px 3px #cfcfcf;
        border-radius: 50%;
        overflow: hidden;
        height: 70px;
        width: 70px;
        margin: auto;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
      }

      .banner-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
