.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: $white;
  padding: 0;
  box-shadow: 0 0 10px $light-gray;
  position: fixed;
  z-index: 2;

  .logo {
    margin-right: 4vw;
  }
}

.header-contacts {
  opacity: 1;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  align-items: center;
  transition: 0.5s;

  &.-collapsed {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: 0.5s;
  }
}

.contacts-list-item {
  justify-content: space-evenly;

  .text {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.logo {
  display: block;
  line-height: unset;
}