.users-list-container {
  display: inline-block;
  width: 100%;
}

.users-list-item {
  .user-item-link {
    padding: 15px 10px;
    display: block;
    vertical-align: middle;
    align-items: center;
  }

  .list-item-image {
    vertical-align: middle;
    display: inline-block;

    .image-wrapper {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      overflow: hidden;
    }

    .image-small {
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .list-item-text {
    padding: 15px;
    display: inline-block;

    .phone {
      vertical-align: middle;
    }

    .initials {
      vertical-align: middle;
    }

    .email {
      z-index: 1;
    }
  }
}