* {
  font-family: sans-serif;
  @include fluid-type($min_width, $max_width, map-get($fonts-sizes, p-min), map-get($fonts-sizes, p));
  font-weight: normal;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style-type: none;
  display: inherit;
  width: inherit;
  justify-content: inherit;
}

textarea {
  resize: none;
}

@for $i from 1 through 6 {
  h#{$i}, p {
    margin: 0;
  }
}

:focus {
  outline: 0;
}

a, a:link {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:visited {
  color: unset;
  text-decoration: none;
}