.-small-text14 {
  @include fluid-type($min_width, $max_width, map-get($fonts-sizes, h4-min), map-get($fonts-sizes, h4));
  font-weight: 100;
}

.-opacity20 {
  opacity: $opacity20;
}

.-opacity50 {
  opacity: $opacity50;
}

.-opacity100 {
  opacity: 1;
}

.-padding-top60 {
  padding-top: 60px;
}

.-padding-top80 {
  padding-top: 80px;
}

.-padding-bottom60 {
  padding-bottom: 60px;
}

.-padding-bottom80 {
  padding-bottom: 80px;
}

.top-img-box-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 9px 3px #cfcfcf;
  border-radius: 50%;
  top: 0;
  left: 0;
}