$fonts-sizes: (
        'p-min': 14px,
        'p': 16px,
        'h1-min': 24px,
        'h1': 30px,
        'h2-min': 22px,
        'h2': 26px,
        'h3-min': 20px,
        'h3': 22px,
        'h4-min': 18px,
        'h4': 20px,
        'h5-min': 16px,
        'h5': 18px,
        'h6-min': 15px,
        'h6': 17px,
);


$min_width: 320px;
$max_width: 1100px;
$min_font: 14px;
$max_font: 22px;


$opacity50: 0.5;
$opacity20: 0.2;