@font-face {
  font-family: "";
  font-display: swap;
  font-weight: normal;
  font-style: normal;

  //src: local(''), local(''), url(".eot"),
  //url(".eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  //  /*url("../fonts/Hind-Bold.otf") format("opentype"), !* Open Type Font *!*/
  //url(".svg") format("svg"), /* Legacy iOS */
  //url(".ttf") format("truetype"), /* Safari, Android, iOS */
  //url(".woff") format("woff"), /* Modern Browsers */
  //url(".woff2") format("woff2"); /* Modern Browsers */
}